body {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    background: linear-gradient(180deg, rgb(30, 190, 142) 10%,  rgba(182, 182, 182, 0.425) 10%);
}
#big-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container {
    max-width: 65rem;
    border: solid;
    height: 50rem;
    flex-grow: 1;
}