body {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    height: 100vh;
    
}
#big-container {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #009688 10%, #d9dbd4 10%);
}
#container {
    max-width: 65rem;
    border: solid;
    height: 50rem;
    flex-grow: 1;
}