body {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    height: 100vh;
    
}
#big-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #009688 10%, #d9dbd4 10%);
    overflow: auto;
}
#container {
    width: 75rem;
    border: solid;
    height: calc(100vh - 90px);
    flex-grow: 1;
    display: flex;
}
/* DEBUG */
#side-bar, #content, #profile, #search, .chat {
    border: solid 1px grey;
    background-color: white;
}
#open-chats {
    border: solid 1px blue;
}
/* common */
.shrink {
    flex-shrink: 0;
}

::-webkit-scrollbar {
    width: .3125rem;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    width: .3125rem;
    background-color: grey;
    border-radius: 0.625rem;
}
 
/* DEBUG */

#side-bar{
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    height: 100%;
}

#content {
    width: calc((100% / 3) * 2);
}

/* sidebar */
#content-sidebar {
    display: flex;
    flex-direction: column;
}

#profile {
    height: 3.75rem;
    background-color: #eaeaea;
}
#notification {
    background-color: #8edafc;
    height: 3.75rem;
    width: 100%;
}
#search {
    height: 2.1875rem;
    width: 100%;
}
#open-chats {
    box-sizing: border-box;
    padding-left: .9375rem;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}
.chat {
    height: 3.75rem;
    width: 100%;
}
/* sidebar */
